//! **************************************************************************
// Written by: Map P.68d on Mon Feb 24 13:32:49 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "btnRst" LOCATE = SITE "C4" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "cnt_13" BEL "cnt_14" BEL "cnt_15" BEL
        "display/h_count_9" BEL "display/h_count_8" BEL "display/h_count_7"
        BEL "display/h_count_6" BEL "display/h_count_5" BEL
        "display/h_count_4" BEL "display/h_count_3" BEL "display/h_count_2"
        BEL "display/h_count_1" BEL "display/v_count_9" BEL
        "display/v_count_8" BEL "display/v_count_7" BEL "display/v_count_6"
        BEL "display/v_count_5" BEL "display/v_count_4" BEL
        "display/v_count_3" BEL "display/v_count_2" BEL "display/v_count_1"
        BEL "sq_a_anim/x_9" BEL "sq_a_anim/x_8" BEL "sq_a_anim/x_7" BEL
        "sq_a_anim/x_6" BEL "sq_a_anim/x_5" BEL "sq_a_anim/x_4" BEL
        "sq_a_anim/x_3" BEL "sq_a_anim/x_2" BEL "sq_a_anim/x_1" BEL
        "sq_a_anim/x_0" BEL "sq_a_anim/y_8" BEL "sq_a_anim/y_7" BEL
        "sq_a_anim/y_6" BEL "sq_a_anim/y_5" BEL "sq_a_anim/y_4" BEL
        "sq_a_anim/y_3" BEL "sq_a_anim/y_2" BEL "sq_a_anim/y_1" BEL
        "sq_b_anim/x_9" BEL "sq_b_anim/x_8" BEL "sq_b_anim/x_7" BEL
        "sq_b_anim/x_6" BEL "sq_b_anim/x_5" BEL "sq_b_anim/x_4" BEL
        "sq_b_anim/x_3" BEL "sq_b_anim/x_2" BEL "sq_b_anim/x_1" BEL
        "sq_b_anim/y_8" BEL "sq_b_anim/y_7" BEL "sq_b_anim/y_6" BEL
        "sq_b_anim/y_5" BEL "sq_b_anim/y_4" BEL "sq_b_anim/y_3" BEL
        "sq_b_anim/y_2" BEL "sq_b_anim/y_1" BEL "sq_c_anim/x_9" BEL
        "sq_c_anim/x_8" BEL "sq_c_anim/x_7" BEL "sq_c_anim/x_6" BEL
        "sq_c_anim/x_5" BEL "sq_c_anim/x_4" BEL "sq_c_anim/x_3" BEL
        "sq_c_anim/x_2" BEL "sq_c_anim/x_1" BEL "sq_c_anim/y_8" BEL
        "sq_c_anim/y_7" BEL "sq_c_anim/y_6" BEL "sq_c_anim/y_5" BEL
        "sq_c_anim/y_4" BEL "sq_c_anim/y_3" BEL "sq_c_anim/y_2" BEL
        "sq_c_anim/y_1" BEL "sq_a_anim/y_dir" BEL "sq_a_anim/x_dir" BEL
        "sq_b_anim/x_dir" BEL "sq_c_anim/y_dir" BEL "sq_c_anim/x_dir" BEL
        "sq_b_anim/y_dir" BEL "display/v_count_0" BEL "display/h_count_0" BEL
        "cnt_15_1" BEL "display/h_count_7_1" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

